{% extends 'base.html' %}

{% block pagetitle %}features - {% endblock %}}

{% block bodyclass %}features{% endblock %}

{% block content %}
<div class="col2_1">


 
	<h2 class="large">How to use this <span>calculator</span></h2>

 


<h3>Forecast expenditures: who pays for what? </h3>

<p>See over the next 20 years after an intervention, such as sanitation marketing and toilet subsidies, who will pay for what. What is the potential impact of inflation? What is population growth and extension of the service to new  members of society doing to overall expenditures?</p>
	


<h3>What are the life-cycle costs?</h3>

<p>See how different costs impact overall expenditure in the next 20 years. Is it capital costs on installation and extension that end up being the most significant? Is it operational costs? 
What is the impact of rehabilitation and renewal costs or the loan that was taken?</p>


<h3>Identify sustainability risks with expenditures</h3>

<p>Use the calculator to model shortfall in expenditures based on breakdown rates and renewal costs and some typical operational costs. With this tool, you should be able to compare whether the expenditures expected are going to be enough to ensure the sustainability of the service delivery model.</p>
	
	
<h3>Identify strengths and weakness of the service delivered</h3>

<p>Sanitation services should be evaluated across several criteria. WASHCost has identified four criteria and indicator questions which are essential for a solid sanitation service. The WASHCost widget can help re-evaluate the benchmark levels of service to be achieved across criteria based on the answers to these questions and changes in expenditure. </p>

<h3>Generate and share a concise description of your sanitation service models</h3>

<p>Scenarios in the WASHCost widget can be shared online, as a PDF and across social networks. Use the widget to do comparisons of different scenarios and allow partners organisations to see the impact and sensitivity of different approaches to a sustainable sanitation service.</p>

<h3>Use historical costs or current costs</h3>

<p>The WASHCost calculator can take convert historical costs using standard accounting practices like the GDP deflator multiplier. In addition, the calculator will be able to aid in currency conversion.</p>


	
	<!--
	
	<div class="box">
		<h3>Easy way of creating reports</h3>
		<p>Donec auctor porta magna, in euismod velit dapibus fermentum. Donec quis libero turpis. Fusce pellentesque, odio eu convallis vulputate, erat lacus feugiat tellus, condimentum posuere est purus quis purus. Praesent eu lacus est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	
	-->
	
	
	
	
</div>
<div class="col2_2">
	<img src="{{ STATIC_URL }}img/illFeatures.png" />
</div>
<br class="clear" />
{% endblock %}