{% extends 'base.html' %}

{% block bodyclass %}resources{% endblock %}

{% block content %}
<h2 class="large">Resources</h2>
<div class="col2_1">
	<p>Learn more about the life-cycle costs approach and access useful resources  on sustainable water, sanitation and hygiene services. To stay at the cutting edge, follow the Water and Sanitation Services That Last e-Update by registering here: http://www.washcost.info/page/995</p>
	<ul>
		<li>WASHCost website: <a href="http://www.washcost.info" target="_blank">http://www.washcost.info</a></li>
		<li>WASHCost publication: <a href="http://www.washcost.info/pubs" target="_blank">http://www.washcost.info/pubs</a></li>
		<li>Briefing Note 1a: Life-cycle costs approach: costing sustainable services: <a href="http://www.washcost.info/page/1557" target="_blank">http://www.washcost.info/(...)</a></li>
		<li>Briefing Note 3: Applying the life-cycle costs approach to sanitation: <a href="http://www.washcost.info/page/1626" target="_blank">http://www.washcost.info/(...)</a></li>
		<li>Working paper 3: Assessing sanitation service levels: <a href="http://www.washcost.info/page/902" target="_blank">http://www.washcost.info/(...)</a></li>
		<li>Training resources: <a href="http://www.washcost.info/training" target="_blank">http://www.washcost.info/training</a></li>
		<li>IRC International Water and Sanitation Centre library: <a href="http://www.washdoc.info/" target="_blank">http://www.washdoc.info/</a></li>
		<li>Videos on life-cycle costs: <a href="http://www.youtube.com/user/ircwater/videos?query=costs" target="_blank">http://www.youtube.com/(...)</a></li>
	</ul>
</div>
<div class="col2_2">
	<img src="{{ STATIC_URL }}img/illResources.png" />
</div>
<br class="clear" />
{% endblock %}