{% extends 'base.html' %}

{% block bodyclass %}support{% endblock %}

{% block content %}
<div class="col2_1">
	<h2 class="large">Support</h2>
	<p>WASHCost is a five-year initiative focused on exploring and sharing an understanding of the costs of delivery and access to sustainable water, sanitation and hygiene services. Have you checked the resources page and the WASHCost website, <a href="http://www.washcost.info" target=new>http://www.washcost.info</a>, and still have not found what you need, then please use the contact information below to get in touch with us. For general information, about WASHCost or specific requests please contact WASHCost by email at washcost@irc.nl. For information regarding the widget, please contact Nick Dickinson, dickinson@irc.nl.</p>
	<div class="box">
		<h3>Easy way of creating reports</h3>
		<p>To create a report, please sign in using your Gmail account. At that point, you can click the “Start” button in order to get started.</p>
	</div>
</div>
<div class="col2_2">
	<img src="{{ STATIC_URL }}img/illSupport.png" />
</div>
<br class="clear" />
{% endblock %}