{% extends "base.html" %}

{% load url from future %}

{% block content %}

<nav class="side">
	<a href="{% url 'project_detail' project.id %}" class="button">switch category</a>
	<a href="{% url 'project_answers' project.id %}" class="button">generate report</a>
</nav>

<!--<h2>{{ project.title }}, <span>{{ category }}</span></h2>-->
<input class="projectTitle" type="text" value="{{ project.title }}" />

<!--todo: add correct uris-->
<nav class="bread"><a href="{% url 'project_detail' project.id %}">Back to main categories</a><a href="">{{ category }}</a></nav>

<nav id="question-list">
	{% for q in questions %}
	<a href="#{{ q.number }}" id="{{ q.number }}" class="{{ q.status }}">{{ q.number }}<div class="corner"></div><div class="selected"></div></a>
	{% endfor %}
</nav>

<form id="component-form" method="post" action="">
	{% csrf_token %}
	<p>{{ question }}</p>
	<table border="0" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>Name </th>
				<th>Lifespan </th>
				<th>Expected number of users </th>
				<th>Cost </th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for form in formset.forms %}
			<tr>
				<td>
					{{ form.id }}
					{{ form.DELETE }}
					{{ form.answer }}
           		</td>
        	</tr>
        	{% endfor %}
    	</tbody>
	{{ formset.management_form }}
	</table>
	<input class="submit" type="submit" value="Submit" />
</form>
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}jquery.formset.js" type="text/javascript"></script>
{% endblock %}

{% block inlineJavascript %}
$(function() {
	$('#component-form tbody tr').formset({
		prefix: '{{ formset.prefix }}'
	});
})
{% endblock %}
