<p>
	Over time, expenditure changes as different stakeholders face expenses related to service delivery. This chart shows cumulative expenditure during the first 20 years. Some stakeholders end up incurring more expenses every year. In addition, some expenditure is unallocated because of population growth. Who will pay for the cost of these extensions?  Finally, shortfall is forecasted based on breakdown rates and an assumption that operational expenditures may be 2% of the total capital hardware expenditures. If this shortfall in expenditures in not covered then there will be a major risk to the level of service expected and the sustainability of facilities.
</p>
<div id="chart-life" style="width: 800px"></div>
<p>
	There are several different categories of life-cycle costs. Over 20 years, the proportions between these categories can change completely. Typically, capital expenditure on hardware (CapExHrd) and software (CapExSft) is high initially but then capital maintenance expenditures tend to increase after that as facilities breakdown over time. The exact proportion depends on breakdown rates and population growth. The graph below summarises the expenditures indicated in this service delivery model.
</p>
<div id="chart-life3" style="width: 800px"></div>
<p>
	CapExHrd – capital expenditure hardware<br />
	CapExSft – capital expenditure software<br />
	ExpIDS – expenditure on indirect support<br />
	ExpDS – expenditure on direct support<br />
	CoC – cost of capital<br />
	CapManEx – capital maintenance expenditure<br />
	OpEx – operational expenditurelife cycle<br />
</p>
<div id="chart-life2" style="width: 800px"></div>
<div id="chart-life4" style="width: 800px"></div>